* {

	margin: 0;
	padding: 0
}

.c{
	margin-top: 60px;
}

.grey{
	background-color: grey;
	height: 60px;
	text-align: right;
	font-size: xx-large;
	padding-top: 10px;
	color: white;
}

.silver{
	background-color: silver;
	height: 60px;
	font-size: xx-large;
	padding-top: 5px;
	border: 0.2px solid darkgray;
	text-align: center;
}
/*
.col-md-3 {
	height:100%;
}
*/
.coral{
height: 60px;
	background-color: olive;
	text-align: center;
	padding-top: 20px;
	color: white;
	border: 0.2px solid darkgray;
}
.white{
	text-align: center;
}